.partners {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-top: 110px;
        h2 {
            color: $dark-grey;
            font-size: 48px; 
            font-weight: 100;
            text-transform: uppercase;
        }
    }
    &__btn {
        background-color: $main-color;
        border: none;
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        border-radius: 36px;
        position: relative;
        width: 250px;
        height: 50px;
        line-height: 24px;
        border-radius: 30px;
        margin-bottom: 6px;
        text-align: center;
        &:hover {
            text-decoration: none;
            transform: scale(1.03);
            transition: all .6s;
        }
    }
    &__all {
        margin-top: 90px;
        margin-bottom: 90px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items:center;

    }
    .hidecolor{ 
        margin-left: 70px;
        vertical-align: middle;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        transition: all .6s;

    }
    .hidecolor:hover { 
        filter:none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        transition: all .6s;
    }
}