.animate2{
    position:relative;
    margin:0 auto;/* устанваливаем блок div по центру страницы*/
    width:100px; /* Ширина */
    height: 100px;  /* Высота */                
  }
  
  .animate2 img.first {
    position:absolute; /* абсолютное позиционирование*/
    left: -10; /* выравниваем картинки по левому верхнему углу div-а*/
    top: 10; /* выравниваем картинки по левому верхнему углу div-а */ 

  }
  .animate2 img.second {
    position:absolute; /* абсолютное позиционирование*/
    left: 10; /* выравниваем картинки по левому верхнему углу div-а*/
    top: 10; /* выравниваем картинки по левому верхнему углу div-а */ 

  }
  .animate2 img.first { /* первая картинка полностью прозрачная */
    opacity:1;
  }
  
  .animate2:hover img.first { /* при наведении курсора первая картинка становится не прозрачной */
    opacity:1;
  }
  
  .animate2:hover img.second, .animate2 img.second:hover { /* а вторая при наведении курсора становится прозрачной */
    opacity:0;
  }